<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>DA-CNPM</display-name>
  <error-page>
    <error-code>404</error-code>
    <location>/404.html</location>
  </error-page>
  <servlet>
    <servlet-name>ThemXeBaoDuongController</servlet-name>
    <servlet-class>controller.BaoDuongXe.ThemXeBaoDuongController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThemXeBaoDuongController</servlet-name>
    <url-pattern>/them-xe-bao-duong</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BaoCaoXeBaoDuongController</servlet-name>
    <servlet-class>controller.BaoDuongXe.BaoCaoXeBaoDuongController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BaoCaoXeBaoDuongController</servlet-name>
    <url-pattern>/bao-cao-xe-bao-duong</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChiTietBaoDuongController</servlet-name>
    <servlet-class>controller.BaoDuongXe.ChiTietBaoDuongController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChiTietBaoDuongController</servlet-name>
    <url-pattern>/chi-tiet-bao-duong</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>XoaXeBaoDuongController</servlet-name>
    <servlet-class>controller.BaoDuongXe.XoaXeBaoDuongController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XoaXeBaoDuongController</servlet-name>
    <url-pattern>/xoa-xe-bao-duong</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SuaXeBaoDuongController</servlet-name>
    <servlet-class>controller.BaoDuongXe.SuaXeBaoDuongController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuaXeBaoDuongController</servlet-name>
    <url-pattern>/sua-xe-bao-duong</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddNhanVienController</servlet-name>
    <servlet-class>controller.NhanVien.AddNhanVienController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNhanVienController</servlet-name>
    <url-pattern>/them-nhan-vien</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddTaiXeController</servlet-name>
    <servlet-class>controller.TaiXe.AddTaiXeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTaiXeController</servlet-name>
    <url-pattern>/them-tai-xe</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowDanhSachNhanVienController</servlet-name>
    <servlet-class>controller.NhanVien.ShowDanhSachNhanVienController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowDanhSachNhanVienController</servlet-name>
    <url-pattern>/danh-sach-nhan-vien</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowDanhSachTaiXeController</servlet-name>
    <servlet-class>controller.TaiXe.ShowDanhSachTaiXeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowDanhSachTaiXeController</servlet-name>
    <url-pattern>/danh-sach-tai-xe</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteNhanVienController</servlet-name>
    <servlet-class>controller.NhanVien.DeleteNhanVienController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteNhanVienController</servlet-name>
    <url-pattern>/xoa-nhan-vien</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteTaiXeController</servlet-name>
    <servlet-class>controller.TaiXe.DeleteTaiXeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteTaiXeController</servlet-name>
    <url-pattern>/xoa-tai-xe</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditNhanVienController</servlet-name>
    <servlet-class>controller.NhanVien.EditNhanVienController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditNhanVienController</servlet-name>
    <url-pattern>/chinh-sua-nhan-vien</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PhanCongNhanVienController</servlet-name>
    <servlet-class>controller.NhanVien.PhanCongNhanVienController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PhanCongNhanVienController</servlet-name>
    <url-pattern>/phan-cong-nhan-vien</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PhanCongTaiXeController</servlet-name>
    <servlet-class>controller.TaiXe.PhanCongTaiXeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PhanCongTaiXeController</servlet-name>
    <url-pattern>/phan-cong-tai-xe</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddPhanCongNhanVienController</servlet-name>
    <servlet-class>controller.NhanVien.AddPhanCongNhanVienController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPhanCongNhanVienController</servlet-name>
    <url-pattern>/them-phan-cong-nhan-vien</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditTaiXeController</servlet-name>
    <servlet-class>controller.TaiXe.EditTaiXeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditTaiXeController</servlet-name>
    <url-pattern>/chinh-sua-tai-xe</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddXeServlet</servlet-name>
    <servlet-class>controller.QuanLyXe.AddXeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddXeServlet</servlet-name>
    <url-pattern>/them-xe</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowListXeServlet</servlet-name>
    <servlet-class>controller.QuanLyXe.ShowListXeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowListXeServlet</servlet-name>
    <url-pattern>/list-xe</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateXeServlet</servlet-name>
    <servlet-class>controller.QuanLyXe.UpdateXeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateXeServlet</servlet-name>
    <url-pattern>/cap-nhat-xe</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteXeServlet</servlet-name>
    <servlet-class>controller.QuanLyXe.DeleteXeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteXeServlet</servlet-name>
    <url-pattern>/xoa-xe</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ThemMoiVangNghiController</servlet-name>
    <servlet-class>controller.QuanLyVangNghi.ThemMoiVangNghiController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThemMoiVangNghiController</servlet-name>
    <url-pattern>/them-nhan-vien-nghi</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChiTietVangNghiController</servlet-name>
    <servlet-class>controller.QuanLyVangNghi.ChiTietVangNghiController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChiTietVangNghiController</servlet-name>
    <url-pattern>/chi-tiet-vang-nghi</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DanhSachVangNghiController</servlet-name>
    <servlet-class>controller.QuanLyVangNghi.DanhSachVangNghiController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DanhSachVangNghiController</servlet-name>
    <url-pattern>/danh-sach-vang-nghi</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>XoaVangNghiController</servlet-name>
    <servlet-class>controller.QuanLyVangNghi.XoaVangNghiController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XoaVangNghiController</servlet-name>
    <url-pattern>/xoa-vang-nghi</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CapNhatVangNghiController</servlet-name>
    <servlet-class>controller.QuanLyVangNghi.CapNhatVangNghiController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CapNhatVangNghiController</servlet-name>
    <url-pattern>/cap-nhat-vang-nghi</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TheoThangController</servlet-name>
    <servlet-class>controller.ThongKeLoiNhuan.TheoThangController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TheoThangController</servlet-name>
    <url-pattern>/thong-ke-theo-thang</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TheoNamController</servlet-name>
    <servlet-class>controller.ThongKeLoiNhuan.TheoNamController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TheoNamController</servlet-name>
    <url-pattern>/thong-ke-theo-nam</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DieuPhoiServlet</servlet-name>
    <servlet-class>controller.QuanLyXe.DieuPhoiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DieuPhoiServlet</servlet-name>
    <url-pattern>/dieu-phoi</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChonXeServlet</servlet-name>
    <servlet-class>controller.QuanLyXe.ChonXeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChonXeServlet</servlet-name>
    <url-pattern>/chon-xe</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowListDieuPhoi</servlet-name>
    <servlet-class>controller.QuanLyXe.ShowListDieuPhoi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowListDieuPhoi</servlet-name>
    <url-pattern>/danh-sach-dieu-phoi</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DashboardController</servlet-name>
    <servlet-class>controller.DangNhap.DashboardController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DashboardController</servlet-name>
    <url-pattern>/dashboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>controller.DangNhap.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>controller.DangNhap.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangePasswordController</servlet-name>
    <servlet-class>controller.Profiles.ChangePasswordController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePasswordController</servlet-name>
    <url-pattern>/doi-mat-khau</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProfileController</servlet-name>
    <servlet-class>controller.Profiles.ProfileController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileController</servlet-name>
    <url-pattern>/profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginController2</servlet-name>
    <servlet-class>controller.DangNhap.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController2</servlet-name>
    <url-pattern></url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QuanLyTaiKhoanController</servlet-name>
    <servlet-class>controller.Profiles.QuanLyTaiKhoanController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuanLyTaiKhoanController</servlet-name>
    <url-pattern>/quan-ly-tai-khoan</url-pattern>
  </servlet-mapping>
</web-app>